@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');
* {
    box-sizing: border-box;
    margin: 0;}
body{
    font-family: 'Roboto', sans-serif;
    color: black
}
main{
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#logo{
    margin-bottom: 2em;
}
.search-box #search-txt{
    text-align: center;
    width:575px;
    border-radius:30px;
    border:1px solid #dcdcdc;
    height: 50px;
    font-size: 22px;
}
.buttons{
    text-align: center;
    width:575px;
    height: 50px;}
.buttons button {
    margin: 0.5em;
    height: 40px;
    background-color: lightgrey;
    border:1px, solid, black;
    color:#707070;
    font-size:15px;
    border-radius:4px;
    font-weight: 200;}
.buttons button:hover{
    cursor: pointer;
    color: black;
    border:grey solid 1px;}
.navbar{
    height: 10vh;
    display: flex;
    justify-content: flex-end;
    align-content: center;}
.navbar li{
    display: inline-flex;
    padding-top: 13px;
    padding-right: 13px;
    font-size: 0.8em;
    font-weight: 300;}
#sign{
    border: none;
    height: 30px;
    margin-right: 13px;
    padding: 0 13px;
    border-radius: 2px;
    color: white;
    background-color: blue;
    font-weight: 500;
    font-size: 13px;}
.navbar a{
color: black;
text-decoration: none;}
.footbar{
    background-color: lightgrey;
    position: fixed;
    bottom: 0;
    height: 8vh;
    display: flex;
    width: 100%;
    justify-content: space-between;}
.footbar li{
    display: inline-flex;}
.footbar li a{
    margin-top: 0.8em;
    padding: 0.8em;
    color: black;
    text-decoration: none;
    font-size: 12px;}
.left {
    margin-right: 2em;
}